.header {
  width: 100%;
  background: white;
  height: 4rem;
  display: flex;
  position: absolute;

  h3 {
    font-size: 1.4em;
    font-weight: 200;
    letter-spacing: 2px;
  }

  a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 200;
    letter-spacing: 2px;
    z-index: 3;
    padding-top: 1rem;
    padding-left: 1rem;
  }
  
  div {

    div {
      position: relative;

      h1 {
        margin-left: 3rem !important;
        margin-top: 2rem !important;
        font-size: 1.5rem;
        margin: 0;
        position: relative;
        z-index: 2;
      }
      
      span {
        content: '';
        background: var(--primary-color);
        border-bottom: 12px solid var(--primary-color);
        position: absolute;
        bottom: -1px;
        left: 2.9rem;
        width: 12rem;
        z-index: 1;
      }
    }
  }

  nav {
    flex-grow: 10;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
      height: 100%;
      width: 8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: white;
      background: black;
      font-size: 1.3em;
    }
  }
  
}

@media all and (max-width: 480px) { 

  .header {
    a {
      font-size: 1.2em;
    }
  }
 }