.landingSection {
  height: 100%;
  padding-top: 20rem;
  position: relative;
}

.main {
  position: relative;
  height: 100vh;
  width: 100%;

  h3 {
    margin: 0;
    padding: 0;
    padding-left: 2rem;
    padding-top: 1rem;
    text-transform: uppercase;
  }

  .verticalLine {
    position: absolute;
    width: 1px;
    background: #CAC6CF;
    height: 90%;
    top: 10px;
    bottom: 10px;
    left: 50%;
  }

  .horizontalLine {
    position: absolute;
    width: 50%;
    background: #CAC6CF;
    height: 1px;
    top: 50%;
    right: 10px;
    left: 45%;
  }

  .leftContent {
    position: relative;
    width: 50%;
    height: 100%;

    .titleWrapper {
      position: absolute;
      position: absolute;
      right: -15%;
      top: 30%;

      .titleName {
        font-family: rz-regular;
        text-transform: uppercase;
        color: var(--title-gray);
        font-size: 1em;
      }
      
      .title {
        letter-spacing: var(--title-spacing);
        text-transform: uppercase;
        color: var(--primary);
        font-weight: normal;
        font-size: 4rem;
        margin: 0;

      }

      .subTitle {
        font-size: 1em;
        font-weight: 300;
        text-align: right;
        padding-right: 20%;
        color: var(--darkgray);
        text-decoration: underline;
      }
    }  
    
    .available-hire {
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}





.landingCopy {
  font-size: 8em;
  line-height: 1.75;
  width: 85%;
  margin: 0 auto;

   div {
     display: inline-block;
     position: relative;
     z-index: 2;

     div {
      display: inline-block;
     }

     span {
      content: '';
      background: var(--primary-color);
      border-bottom: 3rem solid var(--primary-color);
      position: absolute;
      bottom: 70px;
      left: 1rem;
      width: 100%;
      z-index: -1;
    }
   }
}


.landingScrollWrapper {
  position: absolute;
  left: 2rem;
  top: 50%;
}

.landingScroll {
  position: relative;
  margin: 0;

  &:after {
    content: '';
    position: absolute;
    height: 100px;
    width: 2px;
    left: 0;
    top: 0;
    background: black;
  }
}

.projectSection {
  padding-top: 10rem;
  text-align: right;
  padding-right: 7.75em;
  padding-bottom: 8rem;

  .projectTitleWrapper {
    padding-bottom: 4rem;
    
    h2 {
      font-size: 8em;
      position: relative;
  
  
      // &:after {
      //   background: black;
      //   content: '';
      //   position: absolute;
      //   width: 100%;
      //   height: 2px;
      //   left: 0;
      // }
    }
  }
}