
.landingSection {
  height: 100%;
  padding-top: 20rem;
  position: relative;
}

.main {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;

  h3 {
    margin: 0;
    padding: 0;
    padding-left: 2rem;
    padding-top: 1rem;
    text-transform: uppercase;
  }

  .verticalLine {
    position: absolute;
    width: 1px;
    background: #CAC6CF;
    height: 90%;
    top: 10px;
    bottom: 10px;
    left: 50%;
  }

  .horizontalLine {
    position: absolute;
    width: 50%;
    background: #CAC6CF;
    height: 1px;
    top: 50%;
    right: 10px;
    left: 45%;
  }

  .rightContent {
    position: relative;
    width: 50%;
    height: 100%;

    .imageWrapper {
      max-width: 500px;
      width: 500px;
      position: absolute;
      left: 20%;
      top: 20%;

      img {
        border: 3px solid var(--primary);
      }
    }

    .occupationWrapper {
      position: absolute;
      top: 50%;
      left: -5%;
      max-width: 20rem;

      .occupationTitle {
        color: var(--title-gray);
        text-transform: uppercase;
        font-family: rz-regular;

      }

      .occupation {
        line-height: 1.5;
      }
    }

    .techstackTitle {
      letter-spacing: var(--title-spacing);
      text-transform: uppercase;
    }

    .techstack {
      position: absolute;
      bottom: 20%;
      right: 50%;
      list-style-type: none;
    }

  }

  .leftContent {
    position: relative;
    width: 50%;
    height: 100%;

    .titleWrapper {
      position: absolute;
      position: absolute;
      right: -15%;
      top: 30%;

      .titleName {
        font-family: rz-regular;
        text-transform: uppercase;
        color: var(--title-gray);
        font-size: 1em;
      }
      
      .title {
        letter-spacing: var(--title-spacing);
        text-transform: uppercase;
        color: var(--primary);
        font-weight: normal;
        font-size: 4rem;
        margin: 0;

      }

      .subTitle {
        font-size: 1em;
        font-weight: 300;
        text-align: right;
        padding-right: 30%;
        padding-top: 1rem;
        color: var(--darkgray);
        text-decoration: underline;
      }
    }  
    
    .availForHire {
      margin: 0;
      padding: 0;
      position: fixed;
      left: 2rem;
      bottom: 2rem;
      color: var(--darkgray);
      letter-spacing: 2px;
    }
  }
}



/**
 * Basic CSS Media Query Template
 * TODO: I should probably use Sass...
 * Author: Michael Vieth
 * ------------------------------------------
 *  Responsive Grid Media Queries - 1280, 1024, 768, 480
 *   1280-1024   - desktop (default grid)
 *   1024-768    - tablet landscape
 *   768-480     - tablet 
 *   480-less    - phone landscape & smaller
 * --------------------------------------------
 */

 @media all and (min-width: 1280px) and (max-width: 1440px) { 
  .main {
    .rightContent {
      .imageWrapper {
        max-width: 300px;
        top: 30%;
      }
    }
  }

  .title {
    font-size: 3rem;
  }
 }

 @media all and (min-width: 1024px) and (max-width: 1279px) {
  .main {
    .rightContent {
        .imageWrapper {
          max-width: 300px;
          top: 30%;
        }
        
        .occupationWrapper {
         position: absolute;
         top: 50% !important;
         left: -55% !important;
         max-width: 15rem;   
        }
    }
  }


   .main {
    .leftContent {
     .titleWrapper {
       .title {
        font-size: 3rem;
      }
     }
   }
  }

  }

 @media all and (min-width: 768px) and (max-width: 1023px) {
  .main {
    .leftContent {
     .titleWrapper {
       right: -30% !important;
       left: 5%;
       z-index: 2;

       .title {
        font-size: 2.5rem;
      }
     }
   }
  }
   .main {
     .rightContent {
       
       .imageWrapper {
         width: 300px;
         top: 30%;
         left: 10%;
         position: absolute;
       }
       
       .occupationWrapper {
        position: absolute;
        top: 50%;
        left: -95%;
        max-width: 15rem;

        .occupationTitle {
          font-size: 0.8em;

         }
         .occupation {
          letter-spacing: 0;
         }
       }
     }
   }
  

   .main {
     .leftContent {
      .titleWrapper {
        .title {
         font-size: 3rem;
       }
      }
    }
   }
  }

 
 @media all and (min-width: 480px) and (max-width: 767px) {
  .main {
    .leftContent {
     .titleWrapper {
       right: -50% !important;
       z-index: 2;

       .title {
        font-size: 2rem;
        letter-spacing: var(--mobile-title-spacing);
      }
      .titleName {
        font-size: 0.8em;
      }
     }
   }
  }
   .main {
     .rightContent {
       
       .imageWrapper {
         max-width: 300px;
         top: 30%;
         left: 10%;
         position: absolute;
       }
     }
   }

   .main {
     .rightContent {
       .occupationWrapper {
          position: absolute;
          top: 50%;
          left: -95%;
          max-width: 15rem;
    
         .occupationTitle {
          font-size: 0.8em;

         }
         .occupation {
          letter-spacing: 0;
         }
       }
     }
   }
  }
 
 @media all and (max-width: 480px) { 
  .main {
    .verticalLine {
      height: 80%;
    }
    .leftContent {
     .titleWrapper {
       right: -50% !important;
       z-index: 2;
       left: 5%;

       .title {
        font-size: 2rem;
        letter-spacing: var(--mobile-title-spacing);
      }
      .titleName {
        font-size: 0.8em;
      }
     }
   }
  }
   .main {
     .rightContent {
       
       .imageWrapper {
         max-width: 300px;
         width: 150px;
         top: 30%;
         left: 10%;
         position: absolute;
       }
     }
   }

   .main {
     .rightContent {
       .occupationWrapper {
          position: absolute;
          top: 50%;
          left: -95%;
          max-width: 15rem;
    
         .occupationTitle {
          font-size: 0.8em;

         }
         .occupation {
          letter-spacing: 0;
         }
       }
     }
   }
 }
 
 
 /* Portrait */
 @media screen and (orientation:portrait) { /* Portrait styles here */ }
 /* Landscape */
 @media screen and (orientation:landscape) { /* Landscape styles here */ }
 
 
 /* CSS for iPhone, iPad, and Retina Displays */
 
 /* Non-Retina */
 @media screen and (-webkit-max-device-pixel-ratio: 1) {
 }
 
 /* Retina */
 @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
 only screen and (-o-min-device-pixel-ratio: 3/2),
 only screen and (min--moz-device-pixel-ratio: 1.5),
 only screen and (min-device-pixel-ratio: 1.5) {
 }
 
 /* iPhone Portrait */
 @media screen and (max-device-width: 480px) and (orientation:portrait) {
 } 
 
 /* iPhone Landscape */
 @media screen and (max-device-width: 480px) and (orientation:landscape) {
 }
 
 /* iPad Portrait */
 @media screen and (min-device-width: 481px) and (orientation:portrait) {
 }
 
 /* iPad Landscape */
 @media screen and (min-device-width: 481px) and (orientation:landscape) {
 }


