.projectCard {
  width: 100%;
  display: flex;

  .projectImageWrapper {
    max-width: 60%;

    img {
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
    }
  }

  .projectDescriptionWrapper {
    .projectDescriptionContent {
      max-width: 40rem;
      .projectDescriptionTitleWrapper {
        display: inline-flex;
        width: 100%;

        div {
          display: inline-block;
          flex-grow: 2;
          text-align: center;
          font-size: 0.8em;
        }

        h3 {
          text-transform: uppercase;
          text-align: left;
        }
      }

      p {

      }

      ul {
        li {

        }
      }
    }
  }
}