.projectCard {
  width: 100%;
  display: flex;
  margin-bottom: 4rem;

  .projectImageWrapper {
    width: 100%;
    padding: 1rem;
    background: black;
    max-width: 50rem;

    img {
      -webkit-filter: grayscale(100%); 
      filter: grayscale(100%);
      margin: 0;
    }
  }

  .projectDescriptionWrapper {
    padding-left: 6rem;
    padding-right: 6rem;
    width: 100%;
    .projectDescriptionContent {
      max-width: 40rem;
      .projectDescriptionTitleWrapper {
        display: inline-flex;
        width: 100%;

        div {
          display: inline-block;
          flex-grow: 2;
          text-align: center;
          font-size: 0.8em;
        }

        h3 {
          text-transform: uppercase;
          text-align: left;
        }
      }

      p {
        line-height: 1.5;
        margin: 0;
        padding-bottom: 3rem;
      }

      ul {
        list-style-type: none;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        li {

        }
      }
    }
  }
}