.socialLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  position: absolute;
  right: 2rem;
  top: 80%;
  font-size: 1.5em;
  line-height: 1.5;
  font-family: Helvetica;
  font-weight: 300;
  text-align: right;
  color: var(--darkgray);
  text-transform: uppercase;
  text-decoration: none;
  


  li {
    color: var(--darkgray);
    text-align: right;

    a {
      color: var(--darkgray);
      text-decoration: none;
      letter-spacing: 2px;
      font-size: 0.8em;
    }
  }
}

.lightLink {
  color: white;
}

.darkLink {
  color: black;
}

@media all and (max-width: 480px) { 
  .socialLinks {
    top: 70% !important;
    font-size: 1.1em;
  }
}
